In [4]:
#to read a csv file with pandas
#syntax
#df=pd.read_csv('.csv')

In [2]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('mercedesbenz.csv')

In [6]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df.info() #for info about the df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [9]:
df.describe() #for describing countt, mean, percentile etc. categorical values are not displayed.

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
#get count fof values
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: X0, dtype: int64

In [14]:
df['X0'].unique() #for  unique values

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [16]:
df[df['y']>100] #for displaying values greater than 100

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

# if csv not provided then creating own data

In [17]:
from io import StringIO,BytesIO

In [26]:
data=('col1,col2,col3\n'
     'x,y,a\n'
     'c,b,k\n'
     'z,r,j\n')

#syntax first specificy col names ',,,\n'
#then row variable

In [23]:
type(data)

str

In [28]:
df1=pd.read_csv(StringIO(data))

In [29]:
df1.head()

  col1 col2 col3
0    x    y    a
1    c    b    k
2    z    r    j

In [33]:
df1

  col1 col2 col3
0    x    y    a
1    c    b    k
2    z    r    j

In [40]:
#read from specific coloumns
df1=pd.read_csv(StringIO(data), usecols=['col1', 'col3'])

In [42]:
print(df1)

  col1 col3
0    x    a
1    c    k
2    z    j

In [43]:
df1=pd.read_csv(StringIO(data),dtype=object)

In [45]:
df1

  col1 col2 col3
0    x    y    a
1    c    b    k
2    z    r    j

In [48]:
(df1)

  col1 col2 col3
0    x    y    a
1    c    b    k
2    z    r    j

In [52]:
pd.read_csv(StringIO(data),index_col=0)

     col2 col3
col1
x       y    a
c       b    k
z       r    j

In [53]:
pd.read_csv(StringIO(data), usecols=['col2', 'col3'],index_col=False)

  col2 col3
0    y    a
1    b    k
2    r    j

# #Quoting and Escape Characters

In [54]:
#if there is a specific character inside a csv file then we can escape it with inbuilt function.

In [55]:
data = 'a,b\n"hello, \\"zera\\", nice to see you",5'

In [56]:
pd.read_csv(StringIO(data),escapechar="\\")

                                a  b
0  hello, "zera", nice to see you  5

In [57]:
##URL TO CSV

In [61]:
pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                 sep='\t') 

#we used \t as sep because it's in csv file.
#also forbidden as it might to be removed. but syntax for url to csv is above

HTTPError: HTTP Error 403: Forbidden